= simple_form_for @order do |f|

  .field
    = f.label :name, size: 40
    = f.text_field :name, size: 40
  .field
    = f.label :address
    = f.text_area :address, rows: 3, cols: 40
  .field
    = f.label :email
    = f.text_field :email, size: 40
  .field
    = f.label :pay_type
    = f.select :pay_type, Order::PAYMENT_TYPES, prompt: 'Select a payment method'
  .actions
    = f.submit 'Place Order'
