%h1 Listing posts

- @posts.each do |post|
  %td= post.title
  %td= post.name
  %td= post.draft
  ff
  %td=publication_status(post)
  %td= link_to 'Show', post
  %td= link_to 'Edit', edit_post_path(post)
  %td= link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }


= link_to 'New Post', new_post_path
